<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar PDF</title>
</head>
<body>
    <h1>Bienvenido a la página principal</h1>
    <h2>¿Qué deseas hacer?</h2>
    <ul>
        <li><a href="/maestros">Registrar Maestros</a></li>
        <li><a href="/materias">Registrar Materias</a></li>
        <li><a href="/especialidad">Registrar Especialidades</a></li>
        <li><a href="/grupos">Registrar Grupos</a></li>
        <li><a href="/oficio">Crear Oficios</a></li>
        <li><a href="/asunto">Asuntos</a></li>
    </ul>
    <h1>Buscar PDF</h1>
    <form action="/search-pdf" method="GET">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha"><br>

        <label for="asunto">Asunto:</label>
        <input type="text" id="asunto" name="asunto"><br>

        <label for="maestro">Maestro:</label>
        <input type="text" id="maestro" name="maestro"><br>

        <button type="submit">Buscar</button>
    </form>

    <% if (pdfs && pdfs.length > 0) { %>
        <h2>Resultados:</h2>
        <ul>
            <% pdfs.forEach(pdf => { %>
                <li>
                    <h3>Asunto: <%= pdf.asunto %></h3>
                    <p>Maestro: <%= pdf.maestro %></p>
                    <p>Especialidad: <%= pdf.especialidad %></p>
                    <p>Materia: <%= pdf.materia %></p>
                    <p>Grupo: <%= pdf.grupo %></p>
                    <p>Fecha: <%= pdf.fecha %></p>
                    <a href="/download-pdf/<%= pdf.id %>">Descargar PDF</a>
                    <!-- Agrega más detalles del PDF si lo deseas -->
                </li>
            <% }); %>
        </ul>
    <% } else if (pdfs && pdfs.length === 0) { %>
        <p>No se encontraron PDFs con los filtros seleccionados.</p>
    <% } %>
</body>
</html>
